---
---

$sans_serif_font_family: "Montserrat", sans-serif;
$serif_font_family: "PT Serif", serif;
$main_color: #4F4F4F;
$accent_color: #F93457;

html {
  color: $main_color;
}

#content {
  margin: auto;
  max-width: 1440px;
}

#navigation {
  position: absolute;
  margin-top: 25px;
  right: 15px;
}

.navigation_item {
  margin: 20px;

  > a {
    font-family: $sans_serif_font_family;
    font-size: 21px;
    color: $accent_color;
    text-decoration: none;
  }
}

#home_header {
  height: 470px;
}

#home_header_content {
  position: absolute;
  top: 250px;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  font-family: $sans_serif_font_family;
}

#home_header_name {
  font-size: 64px;
}

#home_header_description {
  font-size: 36px;
  font-weight: lighter;
  margin-top: 10px;
}

.home_project {
  margin-left: 12%;
  margin-right: 12%;
  margin-bottom: 6%;
  overflow: hidden;
  font-family: $serif_font_family;

  img {
    width: 450px;
  }
}

.home_project_title {
  font-family: $sans_serif_font_family;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
  color: $accent_color;
}

.home_project_type {
  font-size: 21px;
  font-weight: bold;
}

.home_project_text {
  font-size: 21px;
  line-height: 33px;
  padding-right: 10%;
}

img {
  max-width: 100%;
}
