---
---

$sans_serif_font_family: 'Montserrat', sans-serif;
$serif_font_family: "PT Serif", serif;
$main_color: #4F4F4F;
$light_color: #B5B5B5;
$accent_color: #F93457;
$accent_color_two: #8e8e8e;

#content {
  margin: auto;
  max-width: 1440px;
  color: $main_color;
  font-family: $serif_font_family;
  font-size: 21px;
  overflow-x: hidden;
}

#navigation {
  position: absolute;
  margin-top: 25px;
  right: 30px;
  z-index: 1000;
}

.navigation_item {
  margin: 25px;

  > a {
    font-family: $sans_serif_font_family;
    color: $main_color;
    text-decoration: none;
  }

  > a:hover {
    color: $accent_color;
    text-decoration: none;
  }
}

#home_header {
  height: 470px;
}

#home_header_content {
  width: 100%;
  position: absolute;
  top: 250px;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  font-family: $sans_serif_font_family;
  padding-left: 1%;
  padding-right: 1%;
}

#home_header_name {
  font-size: 64px;
}

#home_header_description {
  font-size: 36px;
  font-weight: 100;
  margin-top: 10px;
}

.home_project {
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 9%;
  overflow: hidden;
}

.home_project_content {
  margin-top: 15px;
}

@media(min-width: 680px) {
  .home_project img {
    width: 450px;
    margin-top: 13px;
  }

  .home_project_pic {
    width: 46%;
    margin-left: 2%;
    margin-right: 2%;
    float: left;
  }

  .even .home_project_pic {
    float: right;
  }

  .home_project_content {
    width: 46%;
    margin-top: 0px;
    margin-left: 2%;
    margin-right: 2%;
    float: left;
  }
}

.home_project_title {
  font-family: $sans_serif_font_family;
  font-size: 40px;
  font-weight: 500;
  text-decoration: none;
  color: $main_color;
}

.home_project_title:hover {
  color: $accent_color;
  text-decoration: none;
}

.home_project_type {
  font-weight: bold;
}

.home_project_text {
  line-height: 33px;
  padding-right: 10%;
}

.home_project_button {
  font-family: $sans_serif_font_family;
  font-size: 20px;
  font-weight: 400;
  margin-top: 2%;
  margin-bottom: 4%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 12px 26px;
  border: 1px solid $main_color;
  border-radius: 2px;
  background: white;
  color: $main_color;
}

.home_project_button:focus {
  color: $main_color;
}

.home_project_button:hover {
  border-radius: 2px;
  background-color: $main_color;
  color: white;
  text-decoration: none;
}

#header {
  padding-top: 150px;
  font-family: $sans_serif_font_family;
}

#center_title {
  text-align: center;
}

#post img {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 5%;
  padding-right: 5%;
  max-width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#about_image {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;

  #social {
    margin-top: 30px;
    img {
      width: 40px;
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}

#text {
  line-height: 33px;
}

#articles {
  .date {
    font-family: $sans_serif_font_family;
    font-size: 18px;
    float: left;
    width: 120px;
    text-align: right;
  }

  .separator {
    margin-left: 15px;
    margin-right: 8px;
  }

  .article {
    line-height: 1.75em;
    padding: 20px 0;
    border-bottom: 1px solid $light_color;

    a.title {
      color: $main_color;
      text-decoration: none;
    }

    a.title:hover {
      color: $accent_color;
    }
  }
}

#footer {
  font-size: 16px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
  color: $light_color;
}

h1 {
  font-size: 42px;
  font-weight: 600;
}

h2 {
  font-size: 34px;
  font-weight: 500;
  font-family: $sans_serif_font_family;
  line-height: 42px;
  margin-top: 56px;
  margin-bottom: -5px;
}

h3 {
  font-size: 26px;
  font-weight: 400;
  font-family: $sans_serif_font_family;
  line-height: 1.15;
  margin-top: 20px;
  margin-bottom: 10px;
}

a {
  color: $accent_color;
  text-decoration: none;
}

a:hover {
  color: $accent_color;
}

a:focus {
  color: $accent_color;
  text-decoration: none;
}

img {
  max-width: 100%;
}

figcaption {
  font-size: 14px;
  line-height: normal;
  margin-top: -60px;
  text-align: center;
}

blockquote {
  margin: 0 auto;
  font-style: italic;
  border-left: 3px solid $light_color;
  padding-left: 20px;
}
