
@import url('https://fonts.googleapis.com/css?family=Montserrat');

nav, .nav-wrapper {
  background-color: #f93457;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  margin-right: 10px;
}

nav ul a:hover{
  background-color: inherit;
}

nav ul a {
  font-size: 20px;
  font-weight: 300;
}


.font {
  font-family: 'Montserrat', sans-serif;
}

.header {
  background-color: #f93457;
  height: auto;
  padding-bottom: 120px;
  padding-top: 100px;
}
.container {
  min-height: auto;
  width: 100%;
  padding-left: 5%;
  padding-top: 70px;
  padding-bottom: 90px;
  background-color: #f93457;

}


.custom-pink{
  color: #f93457;
}


.home_name {
  font-size: 50px;
  font-weight: 500;
  color: white;
}

.home_desc {
  font-size: 40px;
  font-weight: 100;
  color: white;
}

.title {
  font-size: 45px;
  font-weight: 400;
  padding-bottom: 70px;
  }




.case_study_thumbnail {
  width: 25%;
  padding: 10px;
}

.button {
    margin-top: 70px;

    margin-bottom: 30px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 26px;
    border: 2px solid #f93457;
    border-radius: 6px;
    font-size: 25px;
    font-weight: 200;
    background: #f93457;
    color: #ffffff;
    text-decoration: none;
}
.button:hover,.button:focus {
    border-radius: 6px;
    border: 2px solid #f93457;
    background-color: white;
    color: #f93457;
    text-decoration: none;
}

.about_home_desc  {
  width: 100%;
  height: 100%;
  margin-left: 0px;
  padding-left: 60px;
  color: white;
  font-weight: 100;
  font-size: 20px;

}

.case_studies {
  background-color: white;
  height: auto;
  padding-bottom: 70px;
  padding-top: 70px;
}

.about_home {
background-color: #f93457;
height: auto;
padding-bottom: 20px;
padding-top: 40px;
}



.about_home_photo {
  width: 70%;
  padding-top: 10px;
  margin-right: 10%;
  height: 100%;

}
