{% capture title %}{% if page.title %}Irene Alegre | {{ page.title }}{% else %}{{ site.title }}{% endif %}{% endcapture %}
{% capture description %}{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}{% endcapture %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ description }}">
  <title>{{ title }}</title>

  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:image" content="{{ "/images/og_image.png" | absolute_url }}">
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <meta name="twitter:card" content="summary">


  <link href="https://fonts.googleapis.com/css?family=Montserrat:200,200i,400,400i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" rel="stylesheet">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">

  <link rel="alternate" href="/index.xml" type="application/rss+xml" title="{{ site.title }}">

  {% include analytics.html %}
</head>
