---
layout: default
title: "Blog"
description: The personal blog of product designer Irene Alegre.
permalink: blog
---

{% include left_title.html %}

<div class="container">
  <div id="post" class="col-lg-8 col-lg-offset-2">
    <div id="articles">
      {% for post in site.posts %}
        <div class="article">
          <span class="date">{{ post.date | date_to_string }}</span><span class="separator">{{post.separator}}</span>
          <a class="title" href="{{ post.url }}">{{ post.title }}</a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
