---
layout: default
---

{% include center_title.html %}

<div class="container">
  <div id="about_image" style=" max-width: 730px; margin: auto;" >
    <img src="images/irene_alegre.png">
      <div id="social">
      <!-- <a href="https://twitter.com/irenealgi" target="_blank"><img src="images/twitter.svg"></a>
      <a href="https://www.linkedin.com/in/irenealegre/" target="_blank"><img src="images/linkedin.svg"></a>
      <a href="https://www.instagram.com/irenealgi/" target="_blank"><img src="images/instagram.svg"></a> -->
    </div>
  </div>

  <div id="text" style=" max-width: 730px; margin: auto;">
    {{ content }}
  </div>
</div>
