---
layout: default
---

<div id="infinite">
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <div id="header">
        <h1><a href="/log">Back to Log</a></h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div id="post" class="col-md-8 col-md-offset-2">
      <div id="text">
        <div class="post one">
          <h2><a class="title" href="{{ page.url }}">{{ page.title }}</a></h2>
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</div>
